---
import Button from '../components/Button.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Link from '../components/Link.astro';
import Switch from '../components/Switch.astro';
import Marnetic from '../components/Marnetic.astro';
import Navbar from '@components/Navbar.astro';
---

<MainLayout title="hello">
  <Navbar />
  <div class="p-4 mt-44 flex justify-center gap-44">
    <Marnetic>
      <Button type="submit">Get in touch</Button>
    </Marnetic>
    <Button variant="outline">Get in touch</Button>
  </div>
  <div class="p-4 mt-44 flex justify-center gap-2">
    <Link href="/#" variant="uppercase">Contact</Link>
    <Switch />
  </div>
</MainLayout>

<script lang="ts" is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.setAttribute('data-mode', 'light');
  } else {
    document.documentElement.setAttribute('data-mode', 'dark');
  }
  window.localStorage.setItem('theme', theme);

  const handleScroling = (e) => {
    console.log(e);
  };

  window.addEventListener('scroll', handleScroling);
</script>
